<div class="sidebar border-right">
	<img class="pt-3" src="./assets/covid.png">
	<hr>
  <a class="active" href="admin-dashboard/">
  	<i class="fa fa-home"  aria-hidden="true"></i> Home</a>
  <a href="admin-dashboard/admin-feeds"><i class="fa fa-pencil" aria-hidden="true"></i> Feeds</a>
  <a href="admin-dashboard/admin-feeds-details"><i class="fa fa-list" aria-hidden="true"></i> Feed List</a>
  <a href="admin-dashboard/admin-contact"><i class="fa fa-bell-o" aria-hidden="true"></i> Contact</a>

</div>